.card {
    background: transparent !important;
}
.bannerTitle {
    margin-bottom: 0;
    font-size: 14px;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-regular);
    letter-spacing: 2px;
    line-height: 2;
    text-align: center;
    word-break: break-all;
    color: var(--color-black);
    border: 0;
}

@media (min-width: 746px ) {
    .bannerTitle {
        font-size: 20px
    }
    
}
@media (max-width: 1390px ) {
    .card, .banner {
        width: 20rem !important;
    }
    
}
@media (max-width: 800px ) {
    .card, .banner {
        width: 18rem !important;
    }
    
}