body {
  margin: 0;
  font-family: Futura PT Book,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url(//cdn.shopify.com/s/files/1/3028/7274/t/147/assets/FuturaPT-Book.woff2?v=41194633799005619131652011793) format('woff2'),
        url(//cdn.shopify.com/s/files/1/3028/7274/t/147/assets/FuturaPT-Book.woff?v=20559860697786708361652011793) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url(//cdn.shopify.com/s/files/1/3028/7274/t/147/assets/FuturaPT-BookObl.woff2?v=108977271918511292851652011794) format('woff2'),
        url(//cdn.shopify.com/s/files/1/3028/7274/t/147/assets/FuturaPT-BookObl.woff?v=148025667559286937261652011794) format('woff');
  font-weight: normal;
  font-style: italic;
}